header {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

img {
    width: 30%;
    margin: 5%;
}  