header {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.content {
    text-align: center;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
}

h2 {
    margin: 20px 0;
}